# ==========================
# Environment
# ==========================
node_modules/
dist/
.env

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db
